html{
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-color: #151515;
}

main{
	height: 100%;

	display: flex;
	font-family: calibri;
	justify-content: center;
}


#game {
	width: 100vmin;
	height: 80%;
	margin: 5% 0;
	max-width: 100vw;
	max-height: 100vh;
	position: relative;
	display: grid;
	grid-template-rows: 15% 75%;
}

#game::before {
	content: "";

	width: 100%;
	height: 100%;

	position: absolute;

	z-index: -1;
	border-radius: 2vw;
	background: rgb(29,174,207);
	background: linear-gradient(0deg, rgba(29,174,207,1) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
}

